
.vs/config/applicationhost.config
.vs/KORPSS/DesignTimeBuild/.dtbcache
.vs/KORPSS/v15/Server/sqlite3/db.lock
.vs/KORPSS/v15/Server/sqlite3/storage.ide
.vs/KORPSS/v15/Server/sqlite3/storage.ide-shm
.vs/KORPSS/v15/Server/sqlite3/storage.ide-wal
